<?xml version="1.0" encoding="UTF-8" ?>
<phpdoc>
  <parser>
    <target>docs</target>
  </parser>
  <transformer>
    <target>docs</target>
  </transformer>
  <files>
    <directory>.</directory>
    <ignore>docs</ignore>
    <ignore>vendor/</ignore>
  </files>
  <transformations>
    <template name="docsify-twig" />
  </transformations>
</phpdoc>

